<div class="container-fluid estilo">
<div class="row">
    <div class="col-md-4">
      <div class="card-body">
          <div class="tamaño">
            <img src="img/logo.gif" alt="modificar">
            </div>
            </div>
          <h5 class="card-title"></h5>
          <p class="card-text text-white">Dirección:
      Tupungato 10070 Vitacura, Santiago de Chile
      </p>
      <p class="card-text text-white">Teléfonos:
      +56 2 2217 0821 - + 56 2 2217 0811
      </p>
      <p class="card-text text-white">Fax:
      +56 2 2217 0820
      </p>
      <p class="card-text text-white">Cta. Cte:
      Banco BCI N° 85999997
      </p>
      <p class="card-text text-white">RUT:
      72.169.900-5
      </p>
      <p class="card-text text-white">Email:
      fundacion@ninoycancer.cl
      </p>
      <p class="card-text text-white">Facebook:
        <a href="https://www.facebook.com/ninoycancer/">
              <img src="img/logofb.png" height="25px" alt=""> </a>
      </p>

      </div>
    <div class="col-md-4 mt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.509134447665!2d-70.53933968529986!3d-33.383878980793114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c952b6e45c13%3A0xe20a79d839401910!2sTupungato+10070%2C+Vitacura%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1565113036894!5m2!1ses!2scl" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 mt-5">
      <h1>Escribenos tus comentarios</h1>
      <form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <br>
  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Dirección de Correo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
</form>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Comentario</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<button type="button" class="btn btn-outline-primary">Enviar</button>
</div>
    </div>
  </div>
</div>
